params {
	// Default workflow options
    help              = false
    Skip_Decompress   = false
    Skip_Guppy        = false
    Skip_QC		      = false
  
    // Paths
    TarDir   = "./01_Raw_Input"
    GuppyDir = "./02_Basecalled"
    QCDir    = "./03_QC"

    // Decompress paramaters
    DC_threads  = 8
    DC_memory   = 32
    DC_walltime = 24

 	// Guppy mod' base call paramaters
	Guppy_threads     = 8
    Guppy_GPUs        = 2
    Guppy_GPU_runners = 1
    Guppy_GPU         = "RTX6000"
	Guppy_callers     = 1
    Guppy_memory      = 48
    Guppy_walltime    = 6
    Guppy_gupConf     = "dna_r9.4.1_450bps_hac.cfg"                
    Guppy_args        = ""                

    // Nanopore QC
    QC_memory   = "24gb"
    QC_walltime = 1
 	QC_threads  = 8
}