//
//	The default options should be appropriate for most cases.  
//

params {
	help            = false
	InDir           = false
	ReadType        = false
	KrakenDB        = false                                  // Needs to be specified in the shell submission script
	KrakenExtract   = false
	ProjectDIR      = "${PWD}"
	RawQCDir        = "03_QC"
	MQCDir          = "04_MultiQC"
	KNEDir          = "05_Filtered_Reads"

	// Concurrency options - PBS only permits up to 50 jobs so number of process instances needs to be limited
	FP_Forks     = 10
	KN_Forks     = 10
	FQC_Forks    = 10
	FQS_Forks    = 10
	MQC_Forks    = 10
	KNE_Forks    = 40

	//
	// Paramaters for each process
	//

	// FastP options
	FP_threads      = 16
	FP_memory       = 64
	FP_walltime     = 8
	FP_args         = ""                                     // Optional arguments for FastP

	// Kraken2 options
	KN_threads      = 16	
	KN_memory       = 64
	KN_walltime     = 8
	KN_args         = ""                                     // Optional arguments for Kraken2

	// FastQC options
	FQC_threads     = 16
	FQC_memory      = 64
	FQC_walltime    = 8
	FQC_args        = ""                                     // Optional arguments for FastQC

	// FastQ-Screen options
	FQS_threads     = 16	
	FQS_memory      = 64
	FQS_walltime    = 6
	FQS_args        = ""                                     // Optional arguments for FastQ-Screen
	FQS_aligner     = "bowtie2"                              // Aligner for FastQ-Screen [bowtie, bowtie2, or bwa]
	FQS_conf        = "./fastq_screen.conf.template"         // The template needs to be downloaded from the github repo. It is automatically modified for each job.  

	// MultiQC options
	MQC_threads     = 16	
	MQC_memory      = 64
	MQC_walltime    = 8
	MQC_args        = ""                                     // Optional arguments for MultiQC

	// Kraken2_Extract options
	KNE_threads     = 8	
	KNE_memory      = 32
	KNE_walltime    = 8
	KNE_args        = ""                                     // Optional arguments for Kraken-Extract
	KNE_TaxID       = 7164
}
