//
//	The default options should be appropriate for most cases.  
//

params {
	// General paramaters
	help                     = false
	Email                    = false
	ESPPath                  = false
	Annots                   = false
	RefGen                   = false
	clear_cache_on_success   = true               // Clears the work directory if the pipeline runs successfully
	
	// Directory paths
	InDir                    = false
	MAPDir                   = "02_Mapped"
	ISQDir                   = "03_IsoQuant"
	ESSDir                   = "04_ESPRESSO"
	GFCDir                   = "05_GFFCompare"

	//
	// Paramaters for each process
	//
	
	// Mapping
	Mapper               = "ultra"                // Mapping software choice [minimap2 or ultra; default is ultra; case insensitive]
	MAP_Forks            = 20                     // Concurrecny options
	MAP_threads          = 24
	MAP_memory           = 32                     // uLTRA is very memory hungry, minimap2 is not [use 256 if uLTRA]
	MAP_walltime         = 8
	MAP_ultra_rt         = "--ont"                // uLTRA input read type 
	MAP_ultra_args       = ""                     // Additional arguments for uLTRA 
	MAP_minimap2_ax      = "splice"               // minimap2 --ax argument
	MAP_minimap2_args    = ""                     // Additional arguments for minimap2 

	// FormatBams
	FMB_threads          = 2
	FMB_memory           = 12
	FMB_walltime         = 8

	// IsoQuant
	ISQ_threads          = 12
	ISQ_memory           = 1000                   // IsoQuant is very memory hungry needs to be over 921Gb to use large memory nodes
	ISQ_walltime         = 24
	ISQ_args             = ""                     // Additional arguments for uLTRA 
	ISQ_dt               = "nanopore"             // IsoQuant input data type 

	// ESPRESSO
	// Step S
	ESS_threads          = 64
	ESS_memory           = 921                    // It is quite a memory hungry step, but to stop exessive queues in medium72, large memory nodes are used
	ESS_walltime         = 24
	ESS_args             = ""                     // Additional arguments for ESPRESSO_S. Should be in quotes: "-T 24 -R 10"

	// Step C
	ESC_threads          = 64
	ESC_memory           = 921                    // It is quite a memory hungry step, but to stop exessive queues in medium72, large memory nodes are used
	ESC_walltime         = 24
	ESC_args             = ""                     // Additional arguments for ESPRESSO_C 
	ESC_xarg_args        = ""                     // Additional arguments for parallelising ESPRESSO_C

	// Step Q
	ESQ_threads          = 64
	ESQ_memory           = 921                    // It is quite a memory hungry step, but to stop exessive queues in medium72, large memory nodes are used
	ESQ_walltime         = 24
	ESQ_args             = ""                     // Additional arguments for ESPRESSO_Q 
	ESQ_cutoff           = 4                      // min perfect read count for denovo detected candidate splice junctions

	// GFFCompare
	GFC_threads           = 6
	GFC_memory            = 32
	GFC_walltime          = 8
	GFC_args              = ""                     // Additional arguments for GFFCompare 
}

// Generating a report upon the successful completion of the pipeline
report {
	enabled               = true
	file                  = "NFReport_RNA_Isoform.html"
	overwrite             = true
}